---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v2/name/ecuador
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Ecuador","topLevelDomain":[".ec"],"alpha2Code":"EC","alpha3Code":"ECU","callingCodes":["593"],"capital":"Quito","altSpellings":["EC","Republic
        of Ecuador","República del Ecuador"],"subregion":"South America","region":"Americas","population":17643060,"latlng":[-2.0,-77.5],"demonym":"Ecuadorean","area":276841.0,"gini":45.7,"timezones":["UTC-06:00","UTC-05:00"],"borders":["COL","PER"],"nativeName":"Ecuador","numericCode":"218","flags":{"svg":"https://flagcdn.com/ec.svg","png":"https://flagcdn.com/w320/ec.png"},"currencies":[{"code":"USD","name":"United
        States dollar","symbol":"$"}],"languages":[{"iso639_1":"es","iso639_2":"spa","name":"Spanish","nativeName":"Español"}],"translations":{"br":"Ecuador","pt":"Equador","nl":"Ecuador","hr":"Ekvador","fa":"اکوادور","de":"Ecuador","es":"Ecuador","fr":"Équateur","ja":"エクアドル","it":"Ecuador","hu":"Ecuador"},"flag":"https://flagcdn.com/ec.svg","regionalBlocs":[{"acronym":"USAN","name":"Union
        of South American Nations","otherAcronyms":["UNASUR","UNASUL","UZAN"],"otherNames":["Unión
        de Naciones Suramericanas","União de Nações Sul-Americanas","Unie van Zuid-Amerikaanse
        Naties","South American Union"]}],"cioc":"ECU","independent":true}]'
  recorded_at: Mon, 14 Nov 2022 18:25:39 GMT
recorded_with: VCR 6.1.0
