---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v2/name/esadfdsa558s3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Mon, 14 Nov 2022 18:42:27 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=09f808c78dd74d83a4b3995ee6ed6ea1&categories=tourism.sights&filter=circle:10000.0,-10000.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[]}'
  recorded_at: Mon, 14 Nov 2022 18:42:28 GMT
recorded_with: VCR 6.1.0
