---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=f5a8487a&app_key=a1d62460d191ae34195c195984150c0b&q=sunnyvale%20trailer%20park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"q":"sunnyvale trailer park","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Sat, 12 Nov 2022 03:59:45 GMT
recorded_with: VCR 6.1.0
